* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
   font-family:'Times New Roman', Times, serif ;
   background: rgb(255, 255, 255);
   font-size: 1rem;
}

#header {
    background-color: rgb(231, 228, 228);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-name__h1 {
    color: rgb(182, 164, 164);
    font-family: sans-serif;
}

.header-name__h1::first-letter {
    color: red;
    font-size: 2.8rem;
}


.navegacion-a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    border-radius: 6px;
}


.navegacion-a:hover {
   text-decoration: 0.3rem underline rgb(4, 214, 169);
}

main {
    background-color: white;
    max-width: 90vw;
    max-height: 100vh;
    margin: auto;
    margin-top: 6rem;    
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    gap: 2rem;
}


.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s ease; 
}
  
.proyecto:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
  
.proyecto img {
    padding: 2rem;
    width: 100%;
    height: auto;
    display: block;
}

.proyectos a {
    text-decoration: none;
    color: black;
}


.footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: rgb(231, 228, 228);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4.5rem;
}


.footer-name__h1 {
    color: rgb(182, 164, 164);
    font-family: sans-serif;
    margin-right: 10rem;
}


.footer-name__h1::first-letter {
    color: red;
    font-size: 2.8rem;
}


.footer-nav__a img {
    width: 40px;
    height: auto;
    display: block;
    margin-left: 2rem;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 30rem;
}